
@{
    ViewData["Title"] = "Timer";
}


<h1 id="counter"></h1>

<button id="timerButton">Start invoke</button>
<button id="button1">Start invoke func1</button>
<button id="button2">Start invoke func2</button>
<button id="streamingButton">Start streaming</button>


<script src="~/js/timer.js"></script>
